@import url('reset.css');
@import url('colores.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables generales (color, tamaños, alturas) */
:root {
    --color-primario: #857b2f;
    --color-secundario: #c1e58e;
    --texto-color-primario: #fff;
    --texto-color-secundario: #222;
    --altura-header: 320px;
    --fuente-titulos: 'Lucida Sans', sans-serif;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: var(--altura-header);
    background-color: var(--color-primario);
    color: var(--texto-color-primario);
    position: relative;
}

.degradado {
    background: linear-gradient(135deg, var(--color-primario), var(--color-secundario));
}

.bienvenida {
    position: absolute;
    left: 10%;
    bottom: 35px;
    /* 1em equivale al tamaño de la fuente por default en body, que en este caso es 16px */
    font-family: var(--fuente-titulos);
    color: var(--texto-color-primario);
}

.buscador {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    left: 10%;
    box-shadow: 0 6px 26px -3px rgba(0, 0, 0, 0.5);

    height: 50px;
    width: 80%;
    /*margin: auto;  centra el buscador horizontalmente */
    background-color: white;
}

.buscador input[type="text"] {
    height: 100%;
    outline: none;
    border: none;
    flex: 1;
    padding: 1em;

}

.btn-buscar {
    background-color: transparent;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
}
.btn-buscar:hover{
    background-color: var(--color-secundario);
    cursor: pointer;
}

.cuadrado-boton {
    height: 50px;
    width: 50px;
    background-color: green;
}

main {
    min-height: calc(100dvh - var(--altura-header));
    background-color: var(--color-secundario);
    color: var(--texto-color-secundario);
}

.categorias {
    height: 120px;
    padding-top:45px;
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 20px;
    overflow: auto hidden;
    
}

.item-cate{
    flex: 0 0 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px gray;
    padding: 6px;
} 