@import url('reset.css');
@import url('colores.css');

:root{
    --alturaHeader: 240px;    
}

header{
    height: 340px;
    background-color: blue;
}

main{
    min-height: calc(100dvh - 340px - var(--alturaHeader));
    background-color: brown;
    /* background-color: var(--color-primario); */
}

.categorias{height: 80px;
background-color: greenyellow;}

.restaurant{
    min-height: 300px;
    background-color: yellow;
}